.paper {
    margin-top: 5% !important;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyModal {
    position: absolute;
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    padding: 2px 32px 14px;
    top: 50%;
    left: 50%;
    box-shadow: white;
    transform: translate(-50%, -50%);
}